<div class="grid-container">

	<div class="grid-row">
		<div class="grid-xs-12 grid-sm-12 grid-md-12 grid-lg-12 grid-xl-12">
			<p>grid-md-12</p>
		</div>
	</div>

	<div class="grid-row">
		<div class="grid-xs-6 grid-sm-6 grid-md-6 grid-lg-6 grid-xl-6">
			<p>grid-md-6</p>
		</div>
		<div class="grid-xs-6 grid-sm-6 grid-md-6 grid-lg-6 grid-xl-6">
			<p>grid-md-6</p>
		</div>
	</div>

	<div class="grid-row">
		<div class="grid-xs-4 grid-sm-4 grid-md-4 grid-lg-4 grid-xl-4">
			<p>grid-md-4</p>
		</div>
		<div class="grid-xs-4 grid-sm-4 grid-md-4 grid-lg-4 grid-xl-4">
			<p>grid-md-4</p>
		</div>
		<div class="grid-xs-4 grid-sm-4 grid-md-4 grid-lg-4 grid-xl-4">
			<p>grid-md-4</p>
		</div>
	</div>

	<div class="grid-row">
		<div class="grid-xs-3 grid-sm-3 grid-md-3 grid-lg-3 grid-xl-3">
			<p>grid-md-3</p>
		</div>
		<div class="grid-xs-3 grid-sm-3 grid-md-3 grid-lg-3 grid-xl-3">
			<p>grid-md-3</p>
		</div>
		<div class="grid-xs-3 grid-sm-3 grid-md-3 grid-lg-3 grid-xl-3">
			<p>grid-md-3</p>
		</div>
		<div class="grid-xs-3 grid-sm-3 grid-md-3 grid-lg-3 grid-xl-3">
			<p>grid-md-3</p>
		</div>
	</div>

	<div class="grid-row">
		<div class="grid-xs grid-sm grid-md grid-lg grid-xl">
			<p>grid-md</p>
		</div>
		<div class="grid-xs grid-sm grid-md grid-lg grid-xl">
			<p>grid-md</p>
		</div>
		<div class="grid-xs grid-sm grid-md grid-lg grid-xl">
			<p>grid-md</p>
		</div>
		<div class="grid-xs grid-sm grid-md grid-lg grid-xl">
			<p>grid-md</p>
		</div>
		<div class="grid-xs grid-sm grid-md grid-lg grid-xl">
			<p>grid-md</p>
		</div>
	</div>

	<div class="grid-row">
		<div class="grid-xs-2 grid-sm-2 grid-md-2 grid-lg-2 grid-xl-2">
			<p>grid-md-2</p>
		</div>
		<div class="grid-xs-2 grid-sm-2 grid-md-2 grid-lg-2 grid-xl-2">
			<p>grid-md-2</p>
		</div>
		<div class="grid-xs-2 grid-sm-2 grid-md-2 grid-lg-2 grid-xl-2">
			<p>grid-md-2</p>
		</div>
		<div class="grid-xs-2 grid-sm-2 grid-md-2 grid-lg-2 grid-xl-2">
			<p>grid-md-2</p>
		</div>
		<div class="grid-xs-2 grid-sm-2 grid-md-2 grid-lg-2 grid-xl-2">
			<p>grid-md-2</p>
		</div>
		<div class="grid-xs-2 grid-sm-2 grid-md-2 grid-lg-2 grid-xl-2">
			<p>grid-md-2</p>
		</div>
	</div>

	<div class="grid-row">
		<div class="grid">
			<p>grid</p>
		</div>
		<div class="grid">
			<p>grid</p>
		</div>
		<div class="grid">
			<p>grid</p>
		</div>
		<div class="grid">
			<p>grid</p>
		</div>
		<div class="grid">
			<p>grid</p>
		</div>
		<div class="grid">
			<p>grid</p>
		</div>
		<div class="grid">
			<p>grid</p>
		</div>
	</div>

	<div class="grid-row">
		<div class="grid-xs grid-sm grid-md grid-lg grid-xl">
			<p>grid-md</p>
		</div>
		<div class="grid-xs grid-sm grid-md grid-lg grid-xl">
			<p>grid-md</p>
		</div>
		<div class="grid-xs grid-sm grid-md grid-lg grid-xl">
			<p>grid-md</p>
		</div>
		<div class="grid-xs grid-sm grid-md grid-lg grid-xl">
			<p>grid-md</p>
		</div>
		<div class="grid-xs grid-sm grid-md grid-lg grid-xl">
			<p>grid-md</p>
		</div>
		<div class="grid-xs grid-sm grid-md grid-lg grid-xl">
			<p>grid-md</p>
		</div>
		<div class="grid-xs grid-sm grid-md grid-lg grid-xl">
			<p>grid-md</p>
		</div>
		<div class="grid-xs grid-sm grid-md grid-lg grid-xl">
			<p>grid-md</p>
		</div>
	</div>

	<div class="grid-row">
		<div class="grid-xs grid-sm grid-md grid-lg grid-xl">
			<p>grid-md</p>
		</div>
		<div class="grid-xs grid-sm grid-md grid-lg grid-xl">
			<p>grid-md</p>
		</div>
		<div class="grid-xs grid-sm grid-md grid-lg grid-xl">
			<p>grid-md</p>
		</div>
		<div class="grid-xs grid-sm grid-md grid-lg grid-xl">
			<p>grid-md</p>
		</div>
		<div class="grid-xs grid-sm grid-md grid-lg grid-xl">
			<p>grid-md</p>
		</div>
		<div class="grid-xs grid-sm grid-md grid-lg grid-xl">
			<p>grid-md</p>
		</div>
		<div class="grid-xs grid-sm grid-md grid-lg grid-xl">
			<p>grid-md</p>
		</div>
		<div class="grid-xs grid-sm grid-md grid-lg grid-xl">
			<p>grid-md</p>
		</div>
		<div class="grid-xs grid-sm grid-md grid-lg grid-xl">
			<p>grid-md</p>
		</div>
	</div>

	<div class="grid-row">
		<div class="grid-xs grid-sm grid-md grid-lg grid-xl">
			<p>grid-md</p>
		</div>
		<div class="grid-xs grid-sm grid-md grid-lg grid-xl">
			<p>grid-md</p>
		</div>
		<div class="grid-xs grid-sm grid-md grid-lg grid-xl">
			<p>grid-md</p>
		</div>
		<div class="grid-xs grid-sm grid-md grid-lg grid-xl">
			<p>grid-md</p>
		</div>
		<div class="grid-xs grid-sm grid-md grid-lg grid-xl">
			<p>grid-md</p>
		</div>
		<div class="grid-xs grid-sm grid-md grid-lg grid-xl">
			<p>grid-md</p>
		</div>
		<div class="grid-xs grid-sm grid-md grid-lg grid-xl">
			<p>grid-md</p>
		</div>
		<div class="grid-xs grid-sm grid-md grid-lg grid-xl">
			<p>grid-md</p>
		</div>
		<div class="grid-xs grid-sm grid-md grid-lg grid-xl">
			<p>grid-md</p>
		</div>
		<div class="grid-xs grid-sm grid-md grid-lg grid-xl">
			<p>grid-md</p>
		</div>
	</div>

	<div class="grid-row">
		<div class="grid-xs grid-sm grid-md grid-lg grid-xl">
			<p>grid-md</p>
		</div>
		<div class="grid-xs grid-sm grid-md grid-lg grid-xl">
			<p>grid-md</p>
		</div>
		<div class="grid-xs grid-sm grid-md grid-lg grid-xl">
			<p>grid-md</p>
		</div>
		<div class="grid-xs grid-sm grid-md grid-lg grid-xl">
			<p>grid-md</p>
		</div>
		<div class="grid-xs grid-sm grid-md grid-lg grid-xl">
			<p>grid-md</p>
		</div>
		<div class="grid-xs grid-sm grid-md grid-lg grid-xl">
			<p>grid-md</p>
		</div>
		<div class="grid-xs grid-sm grid-md grid-lg grid-xl">
			<p>grid-md</p>
		</div>
		<div class="grid-xs grid-sm grid-md grid-lg grid-xl">
			<p>grid-md</p>
		</div>
		<div class="grid-xs grid-sm grid-md grid-lg grid-xl">
			<p>grid-md</p>
		</div>
		<div class="grid-xs grid-sm grid-md grid-lg grid-xl">
			<p>grid-md</p>
		</div>
		<div class="grid-xs grid-sm grid-md grid-lg grid-xl">
			<p>grid-md</p>
		</div>
	</div>

	<div class="grid-row">
		<div class="grid-xs-1 grid-sm-1 grid-md-1 grid-lg-1 grid-xl-1">
			<p>grid-md-1</p>
		</div>
		<div class="grid-xs-1 grid-sm-1 grid-md-1 grid-lg-1 grid-xl-1">
			<p>grid-md-1</p>
		</div>
		<div class="grid-xs-1 grid-sm-1 grid-md-1 grid-lg-1 grid-xl-1">
			<p>grid-md-1</p>
		</div>
		<div class="grid-xs-1 grid-sm-1 grid-md-1 grid-lg-1 grid-xl-1">
			<p>grid-md-1</p>
		</div>
		<div class="grid-xs-1 grid-sm-1 grid-md-1 grid-lg-1 grid-xl-1">
			<p>grid-md-1</p>
		</div>
		<div class="grid-xs-1 grid-sm-1 grid-md-1 grid-lg-1 grid-xl-1">
			<p>grid-md-1</p>
		</div>
		<div class="grid-xs-1 grid-sm-1 grid-md-1 grid-lg-1 grid-xl-1">
			<p>grid-md-1</p>
		</div>
		<div class="grid-xs-1 grid-sm-1 grid-md-1 grid-lg-1 grid-xl-1">
			<p>grid-md-1</p>
		</div>
		<div class="grid-xs-1 grid-sm-1 grid-md-1 grid-lg-1 grid-xl-1">
			<p>grid-md-1</p>
		</div>
		<div class="grid-xs-1 grid-sm-1 grid-md-1 grid-lg-1 grid-xl-1">
			<p>grid-md-1</p>
		</div>
		<div class="grid-xs-1 grid-sm-1 grid-md-1 grid-lg-1 grid-xl-1">
			<p>grid-md-1</p>
		</div>
		<div class="grid-xs-1 grid-sm-1 grid-md-1 grid-lg-1 grid-xl-1">
			<p>grid-md-1</p>
		</div>
	</div>


</div>