<h3>Navbar</h3>
<nav class="navbar">
	<ul>
		<li><a href="">Home</a></li>
		<li><a href="">About</a></li>
		<li><a href="">Service</a></li>
		<li><a href="" class="active">Contact</a></li>
	</ul>
</nav>
<hr>
<nav class="navbar nav-light">
	<ul class="align-right">
		<li><a href="">Home</a></li>
		<li><a href="">About</a></li>
		<li><a href="">Service</a></li>
		<li><a href="" class="active">Contact</a></li>
	</ul>
</nav>
<hr>
<nav class="navbar nav-secondary">
	<ul class="align-center">
		<li><a href="">Home</a></li>
		<li><a href="">About</a></li>
		<li><a href="">Service</a></li>
		<li><a href="" class="active">Contact</a></li>
	</ul>
</nav>
<hr>
<nav class="navbar nav-warning">
	<ul>
		<li><a href="">Home</a></li>
		<li><a href="">About</a></li>
		<li><a href="">Service</a></li>
		<li><a href="" class="active">Contact</a></li>
	</ul>
</nav>
<hr>
<nav class="navbar nav-dark">
	<ul>
		<li><a href="">Home</a></li>
		<li><a href="">About</a></li>
		<li><a href="" class="active">Service</a></li>
	</ul>
  <ul class="align-right">
		<li><a href="" class="active">Contact</a></li>
	</ul>
</nav>
<hr>
<nav class="navbar nav-error">
	<ul>
		<li><a href="">Home</a></li>
		<li><a href="">About</a></li>
		<li><a href="" class="active">Service</a></li>
	</ul>
  <ul class="align-right">
		<li><a href="" class="active">Contact</a></li>
	</ul>
</nav>
<hr>
<nav class="navbar nav-success underline">
	<ul>
		<li><a href="">Home</a></li>
		<li><a href="">About</a></li>
		<li><a href="">Service</a></li>
		<li><a href="" class="active">Contact</a></li>
	</ul>
</nav>
<hr>
<nav class="navbar effect">
	<ul>
		<li><a href=""><span>Home</span></a></li>
		<li><a href=""><span>About</span></a></li>
		<li><a href=""><span>Service</span></a></li>
		<li><a href="" class="active"><span>Contact</span></a></li>
	</ul>
</nav>

<hr>