<h3>Progress Bar!</h3>
<div class="progress">
	<div class="progress-bar"></div>
</div>
<hr>
<div class="progress progress-striped progress-loader">
	<div class="progress-bar">
	</div>
</div>
<hr>
<div class="progress progress-round progress-loader">
	<div class="progress-bar">
	</div>
</div>
<hr>
<div class="progress progress-multi">
	<div class="progress-bar">
	</div>
</div>
<hr>
<h3>Loader</h3>
<div class="grid-container">
	<div class="grid-row">
		<div class="grid">
			<div class="loader"></div>
		</div>
		<div class="grid">
			<div class="loader two"></div>
		</div>
		<div class="grid">
			<div class="loader three"></div>
		</div>
		<div class="grid">
			<div class="loading">
				<div></div>
				<div></div>
				<div></div>
			</div>
		</div>
	</div>
	<br>
	<br> <br>
	<hr>
	<br>
	<div class="grid-row">
		<div class="grid">
			<div class="spinner-grow text-warning"></div>
		</div>
		<div class="grid">
			<div class="spinner-border text-info"></div>
		</div>
		<div class="grid">
			<div class="donut multi"></div>
			<div class="ripple"></div>
		</div>
	</div>
</div>
<!-- <br>
<hr> -->