<header class="header">
	<a class="logo" routerLink="/">User Interface</a>
	<span class="hamburger" (click)="openNav()">&#9776;</span>
</header>

<div>
	<ul id="mynav" class="sidebar">
		<a class="logo" routerLink="/">User Interface</a>
		<li><a class="closebtn" (click)="closeNav()">&times;</a></li>
		<li><a class="active" routerLink="/">Home</a></li>
		<li><a routerLink="/grid">Grid</a></li>
		<li><a routerLink="/button">Button</a></li>
		<li><a routerLink="/breadcrumb">Breadcrumb</a></li>
		<li><a routerLink="/pagination">Pagination</a></li>
		<li><a routerLink="/radio-checkbox">Radio/Checkbox</a></li>
		<li><a routerLink="/color">Colors</a></li>
	</ul>
</div>