@import "variables";

@each $name, $color in $colors {
  $bgcolor: nth($color, 1);
  $fontcolor: nth($color, 2);
  
  .bg-#{$name} {
    background: $bgcolor !important;
  }
  .text-#{$name} {
    color: $bgcolor !important;
  }
}

// Dark Theme
@each $name, $color in $colorsDark {
  $bgcolor: nth($color, 1);
  $fontcolor: nth($color, 2);
  
  .dark-theme {
    .bg-#{$name} {
      background: $bgcolor !important;
    }
    .text-#{$name} {
      color: $bgcolor !important;
    }
  }

}


@each $name, $val in $color {
  @for $i from 1 through 10 {
    .bg-light-#{$name}-#{$i} {
      background: lighten($val, $i*6);
    }
    .text-light-#{$name}-#{$i} {
      color: darken($val, $i*6);
    }
  }
}


// Dark Theme
@each $name, $val in $colorDark {
  @for $i from 1 through 10 {
    .dark-theme {
      .bg-light-#{$name}-#{$i} {
        background: lighten($val, $i*6);
      }
      .text-light-#{$name}-#{$i} {
        color: darken($val, $i*6);
      }
    }
  }
}
